.filterContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
}

.filterItem {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.filterItem > div {
  width: 100%;
}
.filterItem label {
  font-weight: bold;
  width: 100%;
}

.filterActions {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}
