/* Стилізація контейнера загального вигляду сторінки */
.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Стилізація заголовка */
.container h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
