.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  cursor: pointer;
  gap: 10px;
}

.fullname {
  width: 70%;
  overflow-x: scroll;
  white-space: nowrap;
}
.level {
  text-align: center;
  width: 10%;
}
.balance {
  width: 20%;
  text-align: right;
}

.remove-btn {
  cursor: pointer;
  padding: 0 10px;
  margin: 0 10px;
  margin-left: 25px;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.436);
  color: white;
}
